@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --transition-duration: 300ms;
  --background-color: #f7f7f8;
  --outline-color: coral;
  --primary-color: coral;
  --dark-theme-color: hsla(252, 13%, 46%, 1);
}

body {
  font-family: "Hind", -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 13px;
}

.layout {
  display: flex;
}

.layout__sidebar {
  width: 40px;
  padding-inline: 0.5rem;
  padding-top: 1rem;
  background-color: var(--background-color);
  height: 100vh;
  transition: var(--transition-duration);
}
.layout__sidebar.open {
  width: 224px;
}

.logoSvg {
  display: block;
  width: 100px;
}

.layout__sidebar__showOnHover,
.layout__sidebar:hover .layout__sidebar__hideOnHover {
  display: none;
}

.layout__sidebar:hover .layout__sidebar__showOnHover,
.layout__sidebar__hideOnHover {
  display: inline;
}

.hideNavIcon {
  opacity: 0.9;
  width: 32px;
  height: 32px;
  padding: 5px 2px;
  transition: var(--transition-duration);
  border-radius: 50%;
}

.hideNavIcon:hover {
  background-color: hsla(246, 16%, 26%, 0.1);
  opacity: 1;
}

.hideNavIcon:active {
  background-color: hsla(246, 16%, 26%, 0.2);
}

.layout__main {
  max-width: unset;
  margin-inline: auto;
  padding: 10px;
}

.expandableSearch__button {
  cursor: pointer;
  border-radius: 100cqw;
}

.expandableSearch__button:hover {
  border-color: var(--outline-color);
}
.expandableSearch__button__input {
  appearance: none;
  cursor: pointer;
  height: 35px;
  background-color: transparent;
}
.expandableSearch__button__input:focus {
  outline: none;
}

.expandableSearch__input {
  appearance: none;
  cursor: pointer;
  height: 35px;
  background-color: transparent;
}

.expandableSearch__input:focus {
  outline: none;
}
.expanded__input__container:has(.expandableSearch__input:focus) {
  border-color: coral;
  cursor: default;
}

.button {
  border-radius: 100vw;
  padding: 0.3rem 1rem;
  background-color: coral !important;
  color: white;
}

.dark-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  left: 0;
  height: 100cqh;
  z-index: 1;
}

.dark-overlay-2 {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.pill {
  border-radius: 100vw;
}

.show-on-parent-hover {
  opacity: 0;
  transition: opacity 200ms;
}
*:has(> .show-on-parent-hover):hover .show-on-parent-hover {
  opacity: 1;
}

.menu-link.active {
  background-color: #eee;
}

.settings-menu__link.active {
  border-bottom-width: 4px;
  border-color: var(--primary-color);
}

.layout__main__container {
  container-type: inline-size;
  container-name: layout-main;
}
/* tailwind breakpoints */
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1536px) {
}

@container layout-main (min-width: 1000px) {
  .layout__main {
    max-width: 920px;
  }
}
